@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@font-face {
	font-family:"Gotham Book";
	src:url('GothamHTF-Book.ttf');
}
.titulo {
	font-family: 'Work Sans', sans-serif;
	font-size:4vw;
	color:rgb(255,255,255);
	margin-left:13%;
	margin-bottom:0;
}
.titulo2 {
	font-family: 'Work Sans', sans-serif;
	font-size:2.5vw;
	color:rgb(0,0,0);
	margin-left:10%;
	margin-bottom:0;
}
.titulo3 {
	font-family: 'Work Sans', sans-serif;
	font-size:2.4vw;
	color:rgb(200,200,200);
	margin-left:10%;
	margin-right:10%;
	/*margin-top:15%;*/
	text-align:center;
}
.sinopse {
	font-family: 'Karla', sans-serif;
	font-size:1.5vw;
	padding-left:18%;
	text-align:justify;
	color:rgb(255,255,255);
	margin-right:13%;
}
.sinopse-grande {
	font-family: 'Gotham Book', sans-serif;
	font-size:4vw;
	margin-left:18%;
	text-align:center;
	color:rgb(255,255,255);
	margin-right:13%;
	text-transform:uppercase;
	cursor:default;
	text-shadow:0.18vw 0.18vw rgba(237,20,91,0.7);
}
.desc-serv {
	font-family: 'Karla', sans-serif;
	font-size:1.5vw;
	padding-left:18%;
	text-align:justify;
	color:rgb(0,0,0);
	margin-right:13%;
}
a {
	text-decoration:none;
	color:rgb(237,20,91);
}
body#home {
	background-image: url("background.jpeg");
	background-repeat: no-repeat;
	margin:0;
	padding:0;
}
body#servicos {
	background-image: url("background2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	margin:0;
	padding:0;
	background-color:black;
}
body#empresa {
	background-image:url("background3.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	margin:0;
	padding:0;
	background-color:black;
}
body#contato{
	background-image:url("background4.1.png");
	background-repeat:no-repeat;
	background-size:contain;
	margin:0;
	padding:0;
	background-color:black;
}
body#suporte{
	background-image:url("background5.png");
	background-repeat:no-repeat;
	background-size:contain;
	margin:0;
	padding:0;
	background-color:black;
}

/* BARRA DE CABEÇALHO */
header {
	width:100%;
	height:100px;
	background-color:rgba(20,20,20,0);
}
header ul {
	position:absolute;
	right:4%;

}
header li {
	color:rgb(255,255,255);
	list-style:none;
	display:inline-block;
	font-family:'Josefin Sans', sans-serif;
	font-size:1.3vw;
	margin-right:1vw;
	border-bottom: 0.15vw solid rgb(255,255,255);
	border-color:rgb(237,20,91)
}
header li p {
	transform: translateY(1vw);
	transition: transform 0.3s;
	cursor:default;
}
header li:hover p {
	transform: translateY(0px);
	color:rgb(237,20,91);
}
header li a {
	text-decoration:none;
	color:white;
}
header li:hover a {
	padding-bottom:15px;
	color:rgb(237,20,91);
}
header div#sinopse {
	position:absolute;
	margin-top:12%;
	width:100%;
}
img#logo {
	position:absolute;
	margin-left:3.6vw;
	margin-top:1.5vw;
	width:5.5vw;
	height:5.7vw;
}

/* PÁGINA HOME */
section#home span {
	position:absolute;
	font-family: 'Karla', sans-serif;
	font-size:1.3vw;
	margin-left:19%;
	margin-top:-3%;
	color:rgb(255,255,255);
	cursor:default;
}
section#home {
	margin: auto;
	margin-top:10%;
	width:100%;
}
a#botao {
	position:absolute;
	margin-left:18%;
	margin-top:1%;
	text-decoration:none;
	color:rgb(237,20,91);
	font-family: 'Work Sans', sans-serif;
	font-size:1.1vw;
	border: 1px solid rgb(237,20,91);
	padding:1vw;
	transition: background-color 0.3s, color 0.3s
}
a#botao:hover {
	background-color: rgb(237,20,91);
	color:white;
}
#hr-home {
	width:4%;
	position:absolute;
	margin-left:13%;
	margin-top:-2.4%;
	border-color:rgb(237,20,91);
}

/* PÁGINA SERVIÇOS */
header span {
	position:absolute;
	font-family: 'Karla', sans-serif;
	font-size:1.3vw;
	margin-left:19%;
	margin-top:0.4%;
	color:rgb(255,255,255);
	cursor:default;
}
#hr-serv {
	margin-top:1%;
	width:4%;
	position:absolute;
	margin-left:13%;
	border-color:rgb(237,20,91)
}
div#sinopseServ {
	position:absolute;
	top:13vw;
}
section#servicos {
	margin: auto;
	margin-top:34vw;
	width:83vw;
	margin-bottom:35vw;
}
.servicos {
	background-color:black;
	width:25vw;
	max-height:8.5vw;
	transition: max-height 0.5s;
	transition-timing-function: ease-out;
	float:left;
	margin-right:2vw;
	border:1px solid rgb(237,20,91);
	margin-top:2vw;
	overflow:hidden;
}
.titulo-serv {
	font-family: 'Work Sans', sans-serif;
	font-size:2vw;
	color:rgb(255,255,255);
	text-align:center;
	cursor:default;
	transition:color 0.3s;
}
.desc-servico {
	font-family: 'Karla', sans-serif;
	font-size:1.3vw;
	padding: 1% 10%;
	text-align:center;
	color:rgb(170,170,170);
	opacity:0;
	transition: opacity 0.6s;
	transition-timing-function: ease;
	cursor:default;
}
.coroa {
	width:7vw;
	position:absolute;
	z-index:-1;
	opacity:0.5;
}
.servicos:hover {
	max-height:27vw;
}
.servicos:hover .desc-servico{
	visibility:visible;
	opacity:1;
}
.servicos:hover .titulo-serv {
	color:rgb(237,20,91);
}
div#bloco1 {
	float:left;
	position:absolute;
	margin-top:10.5vw;
	z-index:-1;
}
#serv {
	background-color:rgb(237,20,91);
	display:inline-block;
	padding:2vw;
	color:white;
	font-size:1.5vw;
	font-family: 'Karla', sans-serif;
	cursor:default;
}
#serv-hr {
	background-color:rgb(237,20,91);
	margin-top:0;
	margin-right:2.4vw;
	margin-bottom:2vw;
	height:0.5vw;
	border:0;
}
/* PÁGINA EMPRESA */
section#empresa {
	margin:auto;
	margin-top:30%;
	width:69%;
	padding-bottom:25vw;
}
.empresa {
	background-color:black;
	width:20vw;
	max-height:8.5vw;
	transition: max-height 0.4s;
	transition-timing-function: ease-in;
	float:left;
	border:1px solid rgb(237,20,91);
	margin-right:2vw;
	margin-top:2vw;
	overflow:hidden;
	border-radius:4vw;
}
#missao {
	background-image:url("mission.png");
	background-size:3.5vw;
	background-repeat:no-repeat;
	background-position:8vw 1vw;
}
#visao {
	background-image:url("vision.png");
	background-size:3.8vw;
	background-repeat:no-repeat;
	background-position:8vw 1vw;
}
#valores {
	background-image:url("values.png");
	background-size:3.8vw;
	background-repeat:no-repeat;
	background-position:8vw 1vw;
}

.empresa:hover {
	max-height:24vw;
}
.empresa:hover .desc-servico{
	visibility:visible;
	opacity:1;
}
.empresa:hover .titulo-serv {
	color:rgb(237,20,91);
}
#mvv {
	float:left;
	width:21vw;
	margin-top:2vw;
}
#historia {
	width:45vw;
	float:right;
}
#hist-emp {
	color:rgb(170,170,170);
	font-family: 'Karla', sans-serif;
	font-size:1.5vw;
	text-align:justify;
	margin-left:2.5vw;
	margin-right:6.3vw;
	cursor:default;
}
#titulo-emp {
	color:rgb(237,20,91);
	font-family: 'Gotham Book', sans-serif;
	cursor:default;
	font-size:1.7vw;
}
/*PÁGINA CONTATO*/
section#contato{
	margin-top:31vw;
}
input{  
    width:35vw;
    margin:auto;
	text-align:center;
	font-family: 'Karla', sans-serif;
	font-size:1vw;
	display:block;
	padding:0.4vw;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:0.4vw;
	transition:background-color 0.2s;
}
textarea{
	width:35vw;
    margin:auto;
	font-family: 'Karla', sans-serif;
	font-size:1vw;
	display:block;
	padding:0.4vw;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:0.4vw;
	transition:background-color 0.2s;
	resize:vertical;
}
input:hover, textarea:hover {
	background-color:rgb(200,200,200);
}
input:focus, textarea:focus, select:focus {
	outline:0;
}
label{
	font-family: 'Karla', sans-serif;
	margin-left:32vw;
	display:inline-block;
	margin-bottom:0.2vw;
	font-size:1.3vw;
	font-weight:bold;
	color:rgb(200,200,200);
	
}
.bt{
	background-color:rgb(40,40,40);
	border:2px solid white;
	color:white;
	font-weight:bold;
	font-family: 'Work Sans', sans-serif;
	font-size:1.2vw;
	cursor:pointer;
	width:8vw;
	margin:auto;
	border-radius:0;
	transition: background-color 0.3s, color 0.3s;
}
.bt:hover{
	background-color:rgb(255,255,255);
	color:rgb(40,40,40);
}
a#botaocontato{
	position:absolute;
	margin-left:45%;
	text-decoration:none;
	color:rgb(237,20,91);
	font-family: 'Work Sans', sans-serif;
	font-size:1.1vw;
	border: 1px solid rgb(237,20,91);
	padding:1vw;
	transition: background-color 0.3s, color 0.3s;
}
a#botaocontato:hover{
	background-color: rgb(237,20,91);
	color:rgb(255,255,255);
}
.titulo_contato {
	color:white;
	font-family: 'Karla', sans-serif;
	font-size:2vw;
	margin-left:32%;
	padding-top:25%;
	cursor:default;
}
.desc-contato {
	font-family: 'Karla', sans-serif;
	font-size:1.5vw;
	padding-left:25%;
	margin-top:-5%;
	color:white;
}
#tel {
	margin-left:15vw;
	background-image: url("phone.png");
	background-repeat:no-repeat;
	background-size: 6.25vw 6.25vw;
	background-position:6.5vw 0%;
	width:20vw;
	height:13vw;
	display:block;
	float:left;
}
#endereco {
	background-image: url("local.png");
	background-repeat:no-repeat;
	background-size: 6.25vw 6.25vw;
	background-position:6.5vw 0%;
	width:20vw;
	height:13vw;
	float:left;
	margin-left:5%;
}
#email {
	background-image: url("email.png");
	background-repeat:no-repeat;
	background-size: 6.25vw 6.25vw;
	background-position:6.5vw 0%;
	width:20vw;
	height:13vw;
	float:left;
	margin-left:5%;
}
#form {
	
	position:absolute;
	margin-top:0%;
	background-color:rgb(40,40,40);
	width:100%;
}
#cont {
	background-color:rgb(40,40,40);
	display:inline-block;
	padding:2vw;
	color:white;
	font-size:1.5vw;
	font-family: 'Karla', sans-serif;
	cursor:default;
	margin-top:10vw;
	margin-left:82vw;
	color:rgb(200,200,200);
}
.mapa{
	width:100%;
    position:relative;
	margin-top:40vw;
	display:none;
}

/*PAGINA SUPORTE*/
section#suporte {
	margin: auto;
	margin-top:23vw;
	padding-bottom:3vw;
}
section#suporte a {
	text-decoration:none;
	color:rgb(237,20,91);
}
.pergunta {
    border: 1px solid #ccc;
    width:86.3vw;
	font-family: 'Karla', sans-serif;
	margin-left:6vw;
	margin-top:1vw;
}
.pergunta input {
	display:none;
}
.pergunta label {
  display: inline-block;
  font-weight: bold;
  text-align:left;
  font-family: 'Karla', sans-serif;
  font-size:1.5vw;
  width:100%;
  margin:0;
  padding:1.5vw;
  color:rgb(180,180,180);
  box-sizing:border-box;
  transition:color 0.5s;
  cursor:pointer;
  background-image: url("plus.png");
  background-size:3vw;
  background-repeat:no-repeat;
  background-position:99% 50%;
  transition:background-image 0.3s, color 0.3s;
}
.resposta {
	text-align:left;
	font-family: 'Karla', sans-serif;
	font-size:1.2vw;
	padding: 1vw;
	width:90%;
	margin:auto;
	text-align:justify;
	color: #ccc;
	box-sizing:border-box;
	cursor:default;
	display:none;
}
.pergunta input:checked ~ .resposta {
  display: block;
}
.pergunta input:checked ~ label {
	color:white;
	background-image: url("minus.png");
}
.pergunta input:checked ~ label:hover {
	background-image: url("minus-hover.png");
}
.pergunta label:hover {
	background-image: url("plus-hover.png");
	color:white;
}
#perguntas {
	background-color:rgb(237,20,91);
	margin-left:5vw;
	display:inline-block;
	padding:2vw;
	color:white;
	font-size:1.5vw;
	font-family: 'Karla', sans-serif;
	cursor:default;
}
hr#suporte {
	background-color:rgb(237,20,91);
	margin-left:5vw;
	margin-top:0;
	margin-right:5vw;
	margin-bottom:2vw;
	height:0.5vw;
	border:0;
}

/*PÁGINA FLYER*/
section#flyer img{
	width:40%;
	height:auto;
	margin-left:30%;
	margin-top:5vw;
	box-shadow: 0px 0px 15px rgb(237,20,91);
}
section#flyer {
	background-color: rgb(0,0,0);
}
#flyer{
	background-color:rgb(0,0,0);
}
/* RODAPÉ */
footer {
	display:none;
	width:100%;
	height:13vh;
	position:absolute;
	top:100%;
	background-color:black;
	border-top:0.5px solid rgba(237,20,91,0.7);
	background-image:url("logo.png");
	background-repeat:no-repeat;
	background-size:4vw;
	background-position:2% 2vh;
}
footer p {
	color:rgb(160,160,160);
	font-family: 'Karla', sans-serif;
	text-align:center;
	display:inline-block;
	margin-left:38vw;
	margin-top:2%;
	font-size:1.2vw;
	cursor:default;
}

/*@media (max-width:1000px){
	hr, span {
		display:none;
	}		
}*/